body {
    font-family: sans-serif;
    color: #747474;
}
a{
    color: #747474;
    text-decoration: none;
}
.active{
    color: #00b39b;
}
.docplanner-header {
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    
}
.logodoc{
    display: flex;
}
.logo{
    width: 30px;
    height: 30px;
}
.introduction{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.introduction-logo{
    width: 50px;
    height: 50px;
    
}
.introduction-title{
    color: #00b39b;
}
.introduction-parg{
    margin: 10px;
}
.introduction-text{
    display: flex;
}
.services{
    display: flex;}
.service-card{
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;}
    

.service-card-patiens{
    background-color: #00b39b;
}
.service-card-doctors{
     background-color: blue;
}
.service-card-clinics{
    background-color: #1b2734;
}

.partlogo{
display: flex;
justify-content: space-between;
margin: 30px;
padding: 40px;
}